img {
   padding:1px;
   border:1px solid yellow;
   background-color:red;
}
 
 #title {
 	padding:2px;
   border:3px solid black;
   background: linear-gradient( -45deg, blue,orange 30%, orange 70%, blue);
   color: black;
   text-align: center;
}
h1 {
  font-family: 'Permanent Marker', cursive;
   }
p {
    font-family: 'Chewy', cursive;
    font-size: 24px;
    text-indent: 50px;
}

body {
	background-color: black;
	color: #FFCC00;
}

img 
	{
		height: 35%;
		width: 35%;
	}
header {
	position: relative;
	height: 175px;
	background-color: blue;
}

#logo{
	height: 100%;
	width: 11%;
	padding:2px;
}

nav{
	position:absolute;
	right:0px;
	top:0px;
	padding:0px;
	margin:0px;
}

nav > ul{
	margin:10px;
}

nav li ul{
	display:none;
}

nav li:hover ul, nav ul li li{
	display:block;
}

nav ul li{
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

nav ul li ul{
	margin:0px;
	padding:0px;
}

nav a{
    border:3px solid black;
	font-family: "Chewy", cursive;
	color:black;
	background: linear-gradient( -45deg, yellow,orange 30%, orange 70%, red);
	text-decoration: none;
	padding:10px;
	display: block;
	width:100px;
	text-align: center;
	font-size: 25px;
}

nav a:hover{
	background: black;
	color: yellow;
}
.btn, .btn:focus, .btn:visited, .btn:active {
	display:inline-block;
	padding:10px;
	background-color: black;
	color: yellow;
	text-decoration: none;
	opacity:.5;
}

.btn:hover{
	background-color: black;
	opacity:1;
}

	footer {
		text-align: center;
		font-size: 3px;
	}

	.vertalign img{
		height: 35%;
		width: 35%;
		vertical-align: middle;
	}

	footer {
		color: #0033ff;
	}
